/* header */

/* main */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}
.box{
    width: 350px;
    padding: 20px;
    text-align: center;
}